#columnOne nav ul {
	list-style: none; overflow: hidden; position: relative;
}
	#columnOne nav ul li {
		float: left; margin: 0 20px 0 0;
	}
		#columnOne nav ul li a {
			display: block; width: 120px; height: 120px;
			background-image: url(http://s292.photobucket.com/user/jarbona/media/back-arrow_zps57e2d8ed.png.html); background-repeat: no-repeat;
		}
			#columnOne nav ul li:nth-child(1) a {
				background-color: #1FDA9A;
				background-position: 28px 28px; 
			}
			#columnOne nav ul li:nth-child(2) a {
				background-color: #58ebd3;
				background-position: 28px -96px;
			}
			#columnOne nav ul li:nth-child(3) a {
				background-color: #ffa659;
				background-position: 28px -222px;
			}
			#columnOne nav ul li:nth-child(4) a {
				background-color: #ff7a85;
				background-position: 28px -342px;
			}
		
				#columnOne nav ul li a span {
					font: 50px "Dosis", sans-serif; text-transform: uppercase; 
					position: absolute; left: 600px; top: 28px;
					display: none;
				}
					#columnOne nav ul li a:hover span {
						display: block;
					}
				
				#columnOne nav ul li:nth-child(1) a span {
					color: #1FDA9A;
				}
				#columnOne nav ul li:nth-child(2) a span {
					color: #58ebd3;
				}
				#columnOne nav ul li:nth-child(3) a span {
					color: #ffa659;
				}
				#columnOne nav ul li:nth-child(4) a span {
					color: #ff7a85;
				}
					
					
					
#columnTwo nav ul {
	list-style: none; overflow: hidden; position: relative;
}
	#columnTwo  nav ul li {
		float: left; margin: 0 20px 0 0;
	}
		#columnTwo  nav ul li a {
			display: block; width: 120px; height: 120px;
			background-image: url(http://s292.photobucket.com/user/jarbona/media/back-arrow_zps57e2d8ed.png.html); background-repeat: no-repeat;
		}
			#columnTwo  nav ul li:nth-child(1) a {
				background-color: #1FDA9A;
				background-position: 28px 28px; 
			}
			#columnTwo  nav ul li:nth-child(2) a {
				background-color: #58ebd3;
				background-position: 28px -96px;
			}
			#columnTwo  nav ul li:nth-child(3) a {
				background-color: #ffa659;
				background-position: 28px -222px;
			}
			#columnTwo nav ul li:nth-child(4) a {
				background-color: #ff7a85;
				background-position: 28px -342px;
			}
		
				#columnTwo  nav ul li a span {
					font: 50px "Dosis", sans-serif; text-transform: uppercase; 
					position: absolute; left: 600px; top: 29px;
					display: none;
				}
					#columnTwo  nav ul li a:hover span {
						display: block;
					}
				
				#columnTwo  nav ul li:nth-child(1) a span {
					color: #1FDA9A;
				}
				#columnTwo  nav ul li:nth-child(2) a span {
					color: #58ebd3;
				}
				#columnTwo  nav ul li:nth-child(3) a span {
					color: #ffa659;
				}
				#columnTwo  nav ul li:nth-child(4) a span {
					color: #ff7a85;
				}
					
#result {
		font: 50px "Dosis", sans-serif; 
		text-transform: uppercase; 
		position: absolute; 
		left: 28px;
		top: 500px;
		color: #1FDA9A;
		margin: 0 20px 0 0;
	}
	
	
#result2 {
		font: 50px "Dosis", sans-serif; 
		text-transform: uppercase; 
		position: absolute; 
		left: 28px;
		top: 575px;
		color: #ff7a85;
		margin: 0 20px 0 0;
	}
	

#Rules {
	border: 1px solid #B6B6B6;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #B6B6B6;
	margin: 5%;
	position: absolute; 
	left: 900px;
	top: 100px;
	

}

#Rules .heading{
  background:#1FDA9A;
  border: 1px solid #B6B6B6;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 20px;
  font-size: Large;
  color: #333333;
  text-align: center;
}


#Rules .body{
  padding: 10px 20px;
  background: #F2F2F3;
  text-align: center;
  color: #333333;
  font-size: medium;
}


#Rules .rule1{
  color: #333333;
  font-size: large;
  font-weight: bold;
}

#Rules .rule2{
  color: #333333;
  font-size: large;
  font-weight: bold;
}

#Rules .rule3{
  color: #333333;
  font-size: large;
  font-weight: bold;
}



#ClueTwo  {
	border: 1px solid #B6B6B6;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #B6B6B6;
	margin: 3%;
	position: absolute; 
	left: 28px;
	top: 600px;
	display: None;
	
}

#ClueTwo .heading{
  background:#F9A646;
  border: 1px solid #B6B6B6;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-size: small;
  color: #F2F2F3;
}


#ClueTwo .body{
  padding: 10px 20px;
  background: #F2F2F3;
  text-align: center;
  color: #333333;
  font-size: medium;
}
